<!DOCTYPE html>
@* CSIS3734 (2024) - Assignment 1 *@
@* M.Munyai(2019306741) *@
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMS</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/bootstrap.min.css" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/all.min.css" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" asp-href-include="/styles/custom.css" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm border-bottom bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Event" asp-action="index">
                <i class="fa-solid fa-calendar-day"></i> Event Management System
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#MainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="MainNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Event" asp-action="index">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <main class="container p-3 bg-light">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="container border-top text-muted text-center">
        <p>M.Munyai (2019306741)</p>
        <p>
            &copy; 2024 - UFS (Event Management System)
        </p>
    </footer>

    <!-- JavaScript -->
    <script asp-src-include="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
