@model Attendee
@{
    ViewData["Title"] = "Register";
}
<h2>Event Registration</h2>
<hr />

<form asp-action="Register" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="EventId"/> 
    <div class="mb-3">
        <label asp-for="AttendeeName" class="form-label"></label>
        <input asp-for="AttendeeName" class="form-control" />
        <span asp-validation-for="AttendeeName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input type="submit" value="Complete Registration" class="btn btn-primary" />
        <a class="btn btn-outline-primary"
         asp-controller="Event" asp-action="index" asp-route-id="@Model.EventId">Back to Event Details</a>
    </div>
</form>

